.footer {
  background-color: $footerColor;
  position: static;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: left;
  height: 200px;
  display: table;
  padding-top: 50px;
  .footerCredit {
    padding: 0px 10px 0px 50px;
    display: table-cell;
    .textCredit {
      color: $greyText;
      padding-top: 2em;
    }
  }
  .footerContact {
    display: table-cell;
    padding-right: 10px;
  }
  .footerPlus {
    display: table-cell;
    padding-right: 10px;
  }
  .footerLiens {
    padding: 0px 50px 0px 0px;
    display: table-cell;
  }
}
