//spécifique au component navigation

.navigation {
    margin: 80px 0;
}

.navigation a {
    color: $policeColor;
    text-decoration: none;
    padding: 1rem;
    font-size: 20px;
}


.navigation a.red {
   color: $roseColor !important;
}

