@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
$roseColor : #c53f85;
$bgColor : #181828;
$policeColor : #fbf9fa;
$frontColor : #303054;
$frontPanelBgColor: #242440;
$footerColor : #11111c;

html {
    font-family: Source Sans Pro;
    color: $policeColor;
    background-color: $bgColor;

}
body {
    margin: 0;
    padding: 0;
}
a:-webkit-any-link {
    color: $policeColor;
    cursor: pointer;
    text-decoration: none;
}
h1 {
    font-size:20px;
}

