@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
$roseColor: #c53f85;
$bgColor: #181828;
$policeColor: #fbf9fa;
$frontColor: #303054;
$frontPanelBgColor: #242440;
$footerColor: #11111c;
$greyText: #afabab;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: $bgColor;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient( $frontColor, $roseColor );
    border-radius: 25px;
}

html {
  font-family: Source Sans Pro;
  color: $policeColor;
  background-color: $bgColor;
}
body {
  margin: 0;
  padding: 0;
}
a:-webkit-any-link {
  color: $policeColor;
  cursor: pointer;
  text-decoration: none;
}
h1 {
  font-size: 20px;
  display: inline;
}

li {
  text-align: none;
}
ul {
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start:0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
